In [79]:
import pandas as pd
import numpy as np

In [80]:
data = pd.read_csv('/home/nilanjan/Downloads/bank-data/bank-additional-full.csv',sep = ';')

In [81]:
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [82]:
from sklearn.preprocessing import LabelEncoder

In [83]:
le = LabelEncoder()

In [84]:
data['job']= le.fit_transform(data['job']) 
data['marital']= le.fit_transform(data['marital']) 
data['education']= le.fit_transform(data['education']) 
data['default']= le.fit_transform(data['default'])
data['housing']= le.fit_transform(data['housing']) 
data['loan']= le.fit_transform(data['loan'])
data['contact']= le.fit_transform(data['contact']) 
data['month']= le.fit_transform(data['month'])
data['day_of_week']= le.fit_transform(data['day_of_week']) 
data['poutcome']= le.fit_transform(data['poutcome'])

In [85]:
X = data.drop(columns = ["y"])
Y = data["y"]

In [86]:
from sklearn.naive_bayes import GaussianNB

In [87]:
from sklearn.model_selection import KFold
kf = KFold(n_splits=10,random_state = None, shuffle = False)
gnb = GaussianNB() 
from sklearn import metrics

In [88]:
from sklearn.base import clone

In [89]:
from sklearn.metrics import precision_recall_fscore_support

In [93]:
accuracy = 0
for train_index, test_index in kf.split(X, Y):
    clone_gnb = clone(gnb)
    X_train_folds = X.iloc[train_index]
    y_train_folds = (Y.iloc[train_index])
    X_test_fold = X.iloc[test_index]
    Y_test_fold = (Y.iloc[test_index])
    clone_gnb.fit(X_train_folds, y_train_folds)
    Y_pred = clone_gnb.predict(X_test_fold)
    precision1,recall1,fscore1,support = precision_recall_fscore_support(y_test_fold, y_pred, average=None)
    accuracy = accuracy+metrics.accuracy_score(Y_test_fold, Y_pred)*100
    precision = precision+precision1
    recall = recall+recall1
    fscore = fscore+fscore1
print("Accuracy = ", accuracy/10)  
print("No precision", precision[0]/10.0)
print("No recall", recall[0]/10)
print("No Fscore", fscore[0]/10)
print("Yes precision",precision[1]/10)
print("Yes recall", recall[1]/10)
print("Yes Fscore", fscore[1]/10)

Accuracy =  83.56676513358474
No precision 0.86328125
No recall 0.09928122192273135
No Fscore 0.17808219178082194
Yes precision 0.4808389435525634
Yes recall 0.9815010570824525
Yes Fscore 0.6454640250260688